{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Consegne racconti{% endblock head_title %}

{% block contentfullwidth %}
    <style>
        .btn-space {
            margin-right: 10px;
        }
    </style>


    <h1>{{ titolo_concorso }} - Racconti consegnati</h1>


    <hr>
    {#    <div class="container">#}
    {#  <div class="row">#}
    {#    <div class="col-sm">#}
    {#      <a href="{% url 'list_racconti_segreteria' pk_event %}" class="btn btn-primary btn-sm disabled">CONSEGNE</a>#}
    {#            <br><br>#}
    {#            <a href="{% url 'list_selezioni_segreteria' pk_event %}" class="btn btn-primary btn-sm">SELEZIONI</a>#}
    {#            &nbsp;&nbsp;&nbsp;#}
    {#    </div>#}
    {#    <div class="col-sm">#}
    {#       <a href="{% url 'list_racconti_junior' pk_event %}" class="btn btn-primary btn-sm">CLASSIFICAZIONI {{ categorieeta.0 | upper }}</a>#}
    {#            <br><br>#}
    {#            <a href="{% url 'list_racconti_senior' pk_event %}" class="btn btn-primary btn-sm">CLASSIFICAZIONI {{ categorieeta.1 | upper }}</a>#}
    {#            <br><br>#}
    {#            <a href="{% url 'list_racconti_junior_senior' pk_event %}"#}
    {#               class="btn btn-primary btn-sm">CLASSIFICAZIONI TOTALE</a>#}
    {#    </div>#}
    {#    <div class="col-sm">#}
    {#       <a href="{% url 'list_valutatori_selezioni' pk_event %}"#}
    {#               class="btn btn-primary btn-sm">STATO SELEZIONI</a>#}
    {#            <br><br>#}
    {#            <a href="{% url 'list_valutatori_classificazioni' pk_event %}"#}
    {#               class="btn btn-primary btn-sm">STATO CLASSIFICAZIONI</a>#}
    {#            <br><br>#}
    {#            <a href="{% url 'send_email' pk_event %}"#}
    {#               class="btn btn-primary btn-sm">COMUNICAZIONI</a>#}
    {#    </div>#}
    {#  </div>#}
    {#</div>#}


    <nav class="navbar navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="{% url 'list_racconti_segreteria' pk_event %}" class="btn btn-primary btn-sm disabled">CONSEGNE</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'list_selezioni_segreteria' pk_event %}" class="btn btn-primary btn-sm">SELEZIONI</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'list_racconti_junior' pk_event %}"
               class="btn btn-primary btn-sm">CLASSIFICAZIONI {{ categorieeta.0 | upper }}</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'list_racconti_senior' pk_event %}"
               class="btn btn-primary btn-sm">CLASSIFICAZIONI {{ categorieeta.1 | upper }}</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'list_racconti_junior_senior' pk_event %}"
               class="btn btn-primary btn-sm">CLASSIFICAZIONI TOTALE</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'list_valutatori_selezioni' pk_event %}"
               class="btn btn-primary btn-sm">STATO SELEZIONI</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'list_valutatori_classificazioni' pk_event %}"
               class="btn btn-primary btn-sm">STATO CLASSIFICAZIONI</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'send_email' pk_event %}"
               class="btn btn-primary btn-sm">COMUNICAZIONI</a>
        </div>
    </nav>
    <hr>
    <a href="{% url 'GeneratePDFMULTIPLO_Con_Anagrafica_Solo_Pubblicabili' 6 pk_event %}" download>
        Download pdf di tutti i racconti consegnati pubblicabili.
    </a>
    <br><br>
    <a href="{% url 'GeneratePDFMULTIPLO_Con_Anagrafica' 1 pk_event %}" download>
        Download pdf di tutti i racconti consegnati.
    </a>
    <br><br>
    <a href="{% url 'GenerateXLSX_Con_Anagrafica' 1 pk_event %}">
        Download XLSX racconti consegnati.
    </a>
    <br>
    <br>

    <div class="alert alert-danger" role="alert">
            <span>
                <strong>ATTENZIONE: </strong>
                l'eliminazione di un racconto comporterà anche l'eliminazione di tutte le selezioni e valutazioni, a questo collegate,
                effettuate dai membri della commissione.
                <br>
                L'operazione è irreversibile ed i dati cancellati non potranno essere recuperati.
        </span>
        </div>

    <br>

    <table class="table table-hover table-responsive" style="overflow-y: hidden;">
        <colgroup>
            <col span="1" style="width: 1%">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%">
            <col span="1" style="width: 20%; background-color: white; text-align: center;">
            <col span="1" style="width: 20%">
            <col span="1" style="width: 20%">
            <col span="1" style="width: 20%">
            <col span="1" style="width: 19%; background-color: white; text-align: center;">
            <col span="1" style="width: 19%; background-color: white; text-align: center;">
        </colgroup>
        <thead>
        <tr>
            <th style="font-size: 14px; vertical-align: middle">
                Identificativo racconto
            </th>

            <th style="font-size: 14px; vertical-align: middle">
                Anagrafica
            </th>

            <th style="font-size: 14px; vertical-align: middle">
                Data di nascita
                <br><br>
                Status età
            </th>

            <th style="font-size: 14px; vertical-align: middle">
                Titolo
            </th>

            <th style="font-size: 14px; vertical-align: middle">
                Racconto
            </th>

            <th style="font-size: 14px; vertical-align: middle">
                Data di inserimento
                <br><br>
                Permesso di pubblicazione
                <br><br>
                Recapito di contatto
                <br><br>
                Coautori
            </th>

            <th style="font-size: 14px; vertical-align: middle">
                Inquadramento
                <br><br>
                Dettagli inquadramento
            </th>

            <th style="font-size: 14px; vertical-align: middle">
                Link al documento
            </th>

            <th style="font-size: 14px; vertical-align: middle">
                Elimina
            </th>
        </tr>
        </thead>
        <tbody>
        {% for racconto in racconti_consegnati %}
            <tr>
                <th scope="row" style="font-size: 14px;">
                    {{ racconto.counter }}
                </th>

                <td style="font-size: 14px;">
                    {{ racconto.idUser }}
                    <br>
                    <br>
                    {{ racconto.authorForename | title }}
                    <br>
                    <br>
                    {{ racconto.authorSurname | title }}
                </td>

                <td style="font-size: 14px;">
                    {{ racconto.authorBirthDate | date }}
                    <br>
                    <br>
                    {% if racconto.authorBirthDate >= limite_data %}
                        {{ categorieeta.0 }}
                    {% else %}
                        {{ categorieeta.1 }}
                    {% endif %}
                </td>
                <td style="font-size: 14px;">
                    {{ racconto.title }}
                </td>
                <td style="font-size: 14px; word-break: break-all;">
                    {{ racconto.content | truncatechars:200 }}
                </td>

                <td style="font-size: 14px;">
                    {{ racconto.submissionDate | date }}
                    <br><br>
                    {% if racconto.publishingPermission %}
                        Pubblicabile
                    {% else %}
                        Non pubblicabile
                    {% endif %}
                    <br><br>
                    {{ racconto.contacts }}
                    <br><br>
                    {{ racconto.coAuthors | linebreaks }}
                </td>
                <td style="font-size: 14px;">
                    {{ racconto.authorStatus }}
                    <br><br>
                    {{ racconto.authorDetail }}
                </td>
                <td style="font-size: 14px;">
                    <a aria-label="Link a documento  {{ racconto.counter }}"
                       href="{% url 'GeneraPDF_SINGOLO_Con_Anagrafica' racconto.pk  pk_event %}" target="_blank"
                       download>LINK</a>
                </td>

                <td style="font-size: 14px;">
                    <a aria-label="Elimina racconto {{ racconto.counter }}"
                       class="btn btn-danger btn-sm btn-block"
                       href="{% url 'delete_racconto' racconto.pk %}">Elimina</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>



{% endblock contentfullwidth %}