{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Aggiorna evento{% endblock head_title %}

{% block content %}
    <form action="" method="post" novalidate>
        <h1>Modifica dati concorso</h1>
        <hr>
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <a class="btn m-2 btn-secondary" href="{% url 'detail_event'  object.pk %}">Annulla</a>
            <input type="submit" class="btn btn-primary" value="Conferma">
        </div>
    </form>
{% endblock content %}